{% extends 'produtos/base.html' %}

{% block title %}Excluir Produto{% endblock %}

{% block content %}
<div class="card shadow p-4">
    <h3 class="mb-3 text-danger">Confirmar Exclusão</h3>
    <p>Deseja excluir o produto <strong>{{ produto.nome }}</strong>?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'produto_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
